.header {
  padding: 10px 0;
  color: #fff;
  background-color: #FA528F;
}

.header-title {
  font-size: 45px;
}

.header-title::before {
  content: '\007B';
  display: inline-block;
  padding-right: 10px;
}

.header-title::after {
  content: '\007D';
  display: inline-block;
  padding-left: 10px;
}
