.rules-container {
  width: 800px;
}

.list {
  padding: 10px 0;
}

.list-item:not(:last-child) {
  margin-bottom: 10px;
}

.list-item::before {
  content: '\2014';
  display: inline-block;
  padding-right: 6px;
}

.list-figure {
  width: 48%;
  display: inline-block;
}

.list-figure:not(:last-child) {
  margin-right: 2%;
}

.list-figcaption {
  margin-bottom: 10px;
}

.rules-blockquote {
  padding-left: 20px;
  border-left: 3px solid #383838;
}