*{
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #323232;
  line-height: 1.5;
  background-color: #fff;
}

p,
ul,
h1,
h2,
h3,
figure,
blockquote,
body {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

ol {
  padding-left: 20px;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.section {
  padding: 18px 0;
}

.section h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.link-back {
  display: inline-block;
  margin-bottom: 15px;
  border-bottom: 1px solid transparent;
}

.link-back:hover {
  border-bottom: 1px solid #323232;
}